body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  #FFFF31;
}

.titulo{
    text-align: center;
}

.menu{
    padding: 10px;
    background-color: #F47920;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    width: 500px;
}

.ajustes{
    text-align: justify;
    background-color: #43C7F4;
}

.logo{
    padding: 70px;
}