body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #005883;
}

.titulo{
    text-align: center;
}

.menu{
    padding: 30px;
    background-color: #F47920;
}

.ajustes{
    text-align: justify;
    background-color: #F0B429;
}