body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  #FFFF31;
}

.titulo{
    text-align: center;
}

.edicion{
    margin: auto;
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

ul, ol {
    list-style: none;
}

.menu li a{
    padding: 10px 15px;
    background-color: #F47920;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #000000;
}

.menu li a:hover {
    background-color: #B3B3B3;
}

.menu > li {
    float: left;
}

.menu li ul {
    display: none;
    position: absolute;
    min-width: 70px;
}

.menu li:hover > ul {
    display: block;
}

.ajustes{
    text-align: justify;
    background-color: #43C7F4;
}

.logo{
    padding: 70px;
}